<h1>Flight List</h1>

<form action="/grafikTest" method="POST" >

    <select  name="date" id="">
        {{#each flights}}
            <option value="/grafik/{{city2}}/{{trim flightTime}}/{{date}}/">{{city2}} {{trim flightTime}} {{date}} </option>
        {{/each}}
    </select>
    <button type="submit">Git</button>
</form>

<div class="table-container">
    <div class="table">
        <h2>Date: {{currentDate}}</h2>
        <table>
            <thead>
                <tr>
                    <th>Flight No</th>
                    <th>Airline</th>
                    <th>City </th>
                    <th>Arrival City</th>
                    <th>Price</th>
                    <th>Currency</th>
                     <th>Flight Time</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                    {{#each flights}}

                <tr>
                    <td>{{flightNo}}</td>
                    <td>{{airline}}</td>
                    <td>{{city1}}</td>
                    <td>{{city2}}</td>
                    <td>{{price}}</td>
                    <td>{{currency}}</td>
                    <td>{{flightTime}}</td>
                    <td>{{date}}</td>
                </tr>
                    {{/each}}

            </tbody>
        </table>
    </div>
</div>